/*
 * spa.shell.css
 * Your CSS
 */

.container {
  position : relative;  
  background-color : orange;
}

.submit {
  padding : 1em;
}

li:hover {
  background-color : #080808;
}

@media (max-width:768px) {
  .container {
    position : absolute;
    left : 0;
    right : 0;
    background-color : blue;
  }

  #spa {
    position : static;
    min-height : 100%;
    min-width  : 0;

  }
}
